:root {
  --shadow-base-color: var(--knime-gray-dark-semi);
  --shadow-elevation-0: transparent;
  --shadow-elevation-1: 0px 1px 4px 0 var(--shadow-base-color);
  --shadow-elevation-2: 0px 2px 10px 0 var(--shadow-base-color);
}
