:root {
  --space-base: 4px;
  --space-4: calc(var(--space-base) * 1);
  --space-6: calc(var(--space-base) * 1.5);
  --space-8: calc(var(--space-base) * 2);
  --space-12: calc(var(--space-base) * 3);
  --space-16: calc(var(--space-base) * 4);
  --space-24: calc(var(--space-base) * 6);
  --space-32: calc(var(--space-base) * 8);
  --space-48: calc(var(--space-base) * 12);
  --space-56: calc(var(--space-base) * 14);
  --space-72: calc(var(--space-base) * 18);
  --space-104: calc(var(--space-base) * 26);
  --space-144: calc(var(--space-base) * 36);
}
