@import "driver.js/dist/driver.css";

.driver-wrapper {
  padding: 0;
  border-radius: 0;
}

.driver-popover-arrow {
  border: 10px solid var(--knime-white);
}

.driver-popover-arrow-side-top {
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.driver-popover-arrow-side-bottom {
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.driver-popover-arrow-side-left {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.driver-popover-arrow-side-right {
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
