:root {
  --knime-yellow: hsl(50.8, 100%, 50%); /* #FFD800 */
  --knime-masala: hsl(12, 4.2%, 23.3%); /* #3E3A39 */
  --knime-dove-gray: hsl(0, 0%, 43.1%); /* #6E6E6E */
  --knime-gray-dark: hsl(195, 1.6%, 51.8%); /* #828586 */
  --knime-stone-gray: hsl(0, 0%, 53.3%); /* #888888 */
  --knime-silver-sand: hsl(200, 5%, 76.5%); /* #C0C4C6 */
  --knime-porcelain: hsl(200, 10.33%, 94.3%); /* #EFF1F2 */
  --knime-gray-ultra-light: hsl(210, 16.7%, 97.6%); /* #F8F9FA */
  --knime-white: white; /* #FFFFFF */

  --knime-blue: hsl(204, 100%, 11.75%); /* #00243C */

  --knime-gray-dark-semi: hsla(195, 1.6%, 51.8%, 0.4); /* #82858680 */
  --knime-gray-light-semi: hsla(200, 10%, 94%, 0.4); /* #EFF1F266 */
  --knime-silver-sand-semi: hsla(200, 5%, 76.5%, 0.5); /* #C0C4C6 */

  --theme-color-yellow: var(--knime-yellow); /* #FFD800 */
  --theme-color-masala: var(--knime-masala); /* #3E3A39 */
  --theme-color-dove-gray: var(--knime-dove-gray); /* #6E6E6E */
  --theme-color-gray-dark: var(--knime-gray-dark); /* #828586 */
  --theme-color-stone-gray: var(--knime-stone-gray); /* #888888 */
  --theme-color-silver-sand: var(--knime-silver-sand); /* #C0C4C6 */
  --theme-color-porcelain: var(--knime-porcelain); /* #EFF1F2 */
  --theme-color-gray-ultra-light: var(--knime-gray-ultra-light); /* #F8F9FA */
  --theme-color-white: var(--knime-white); /* #FFFFFF */

  --theme-color-blue: var(--knime-blue); /* #00243C */

  --theme-color-gray-dark-semi: var(--knime-gray-dark-semi); /* #FFFFFF26 */
  --theme-color-gray-light-semi: var(--knime-gray-light-semi); /* #82858680 */
  --theme-color-silver-sand-semi: var(--knime-silver-sand-semi); /* #C0C4C6 */

  --theme-color-error: hsl(357.5, 71.6%, 45.5%); /* #C72128 */
  --theme-color-success: hsl(127.5, 50%, 47.1%); /* #3CB44B */
  --theme-color-info: var(--knime-blue); /* #00243C */
  --theme-color-running: hsl(205.7, 69.7%, 38.8%); /* #1E6DA8 */
  --theme-color-action-required: hsl(29.3, 100%, 59.8%); /* #FF9632 */

  --theme-color-kudos: hsl(339, 88%, 44%) /* #D30D52 */;
}
