:root {
  /* theme colors - will be deprecated
   * TODO: WEBP-475
  */
  --theme-color-yellow: var(--knime-yellow); /* #FFD800 */
  --theme-color-masala: var(--knime-masala); /* #3E3A39 */
  --theme-color-dove-gray: var(--knime-dove-gray); /* #6E6E6E */
  --theme-color-gray-dark: var(--knime-gray-dark); /* #828586 */
  --theme-color-stone-gray: var(--knime-stone-gray); /* #888888 */
  --theme-color-silver-sand: var(--knime-silver-sand); /* #C0C4C6 */
  --theme-color-porcelain: var(--knime-porcelain); /* #EFF1F2 */
  --theme-color-gray-ultra-light: var(--knime-gray-ultra-light); /* #F8F9FA */
  --theme-color-white: var(--knime-white); /* #FFFFFF */

  --theme-color-gray-dark-semi: var(--knime-gray-dark-semi); /* #FFFFFF26 */
  --theme-color-gray-light-semi: var(--knime-gray-light-semi); /* #82858680 */
  --theme-color-silver-sand-semi: var(--knime-silver-sand-semi); /* #C0C4C6 */
}
