:root {
  /* Header */
  --header-image: lorem.png;
  --header-background-color: gradient_color_or_image.png;
  --header-foreground-color: var(--knime-white);

  /* Headlines */
  --headlines-5-font-family: 'Roboto Mono';
  --headlines-5-font-color: var(--knime-masala);
  --headlines-5-font-weight: 700;

  --headlines-4-font-family: 'Roboto Mono';
  --headlines-4-font-color: var(--knime-masala);
  --headlines-4-font-weight: 700;

  --headlines-3-font-family: 'Roboto Mono';
  --headlines-3-font-color: var(--knime-masala);
  --headlines-3-font-weight: 700;

  --headlines-2-font-family: 'Roboto Mono';
  --headlines-2-font-color: var(--knime-masala);
  --headlines-2-font-weight: 700;

  --headlines-1-font-family: 'Roboto Mono';
  --headlines-1-font-color: var(--knime-masala);
  --headlines-1-font-weight: 700;

  /* Text */

  --text-normal-font-family: 'Roboto Mono';
  --text-normal-color: var(--knime-masala);

  --text-medium-font-family: 'Roboto Mono';
  --text-medium-color: var(--knime-masala);

  --text-bold-font-family: 'Roboto Mono';
  --text-bold-color: var(--knime-masala);

  /* Default Button */
  --button-background-color: var(--knime-yellow);
  --button-background-color-hover: var(--knime-masala);
  --button-background-color-focus: var(--knime-masala);
  --button-foreground-color: var(--knime-masala);
  --button-foreground-color-hover: var(--knime-white);
  --button-foreground-color-focus: var(--knime-white);
  --button-border-radius: 20px;
  --button-border-color: var(--knime-yellow);
  --button-border-color-hover: var(--knime-masala);
  --button-border-color-focus: var(--knime-masala);

  /* Small Button */
  --button-small-background-color: var(--knime-yellow);
  --button-small-background-color-hover: var(--knime-masala);
  --button-small-background-color-focus: var(--knime-masala);
  --button-small-foreground-color: var(--knime-masala);
  --button-small-foreground-color-hover: var(--knime-white);
  --button-small-foreground-color-focus: var(--knime-white);
  --button-small-border-radius: 20px;
  --button-small-border-color: var(--knime-yellow);
  --button-small-border-color-hover: var(--knime-masala);
  --button-small-border-color-focus: var(--knime-masala);

  /* Split Button */
  --button-split-background-color: var(--knime-yellow);
  --button-split-background-color-hover: var(--knime-masala);
  --button-split-background-color-focus: var(--knime-masala);
  --button-split-foreground-color: var(--knime-masala);
  --button-split-foreground-color-hover: var(--knime-white);
  --button-split-foreground-color-focus: var(--knime-white);
  --button-split-border-radius: 20px;
  --button-split-border-color: var(--knime-yellow);
  --button-split-border-color-hover: var(--knime-masala);
  --button-split-border-color-focus: var(--knime-masala);

  /* Dropdown (global) */
  --dropdown-background-color: transparent;
  --dropdown-background-color-focus: var(--knime-silver-sand-semi);
  --dropdown-background-color-hover: var(--knime-silver-sand-semi);
  --dropdown-background-color-selected: var(--knime-masala);
  --dropdown-foreground-color: var(--knime-dove-gray);
  --dropdown-foreground-color-focus: var(--knime-masala);
  --dropdown-foreground-color-hover: var(--knime-masala);
  --dropdown-foreground-color-selected: var(--knime-white);

  /* Text links */
  --text-link-background-color: transparent;
  --text-link-background-color-hover: var(--knime-masala);
  --text-link-background-color-focus: var(--knime-masala);
  --text-link-foreground-color: var(--knime-masala);
  --text-link-foreground-color-hover: var(--knime-white);
  --text-link-foreground-color-focus: var(--knime-white);

  /* Tooltip */
  --tooltip-background-color: var(--knime-masala);
  --tooltip-foreground-color: var(--knime-white);

  /* Checkbox */
  --checkbox-border-color: var(--knime-stone-gray);
  --checkbox-border-color-focus: var(--knime-masala);
  --checkbox-border-color-hover: var(--knime-stone-gray);
  --checkbox-border-color-selected: var(--knime-masala);
  --checkbox-border-color-selected-focus: var(--knime-masala);
  --checkbox-border-color-selected-hover: var(--knime-stone-gray);
  --checkbox-background-color: transparent;
  --checkbox-background-color-focus: var(--knime-white);
  --checkbox-background-color-hover: var(--knime-silver-sand-semi);
  --checkbox-background-color-selected: var(--knime-masala);
  --checkbox-background-color-selected-focus: var(--knime-white);
  --checkbox-background-color-selected-hover: var(--knime-silver-sand-semi);
  --checkbox-foreground-color-selected: var(--knime-white);
  --checkbox-foreground-color-selected-focus: var(--knime-masala);
  --checkbox-foreground-color-selected-hover: var(--knime-silver-sand-semi);

  /* Selection List */
  --select-control-background-color: transparent;
  --select-control-background-color-hover: var(--knime-silver-sand-semi);
  --select-control-background-color-focus: var(--knime-masala);
  --select-control-foreground-color: var(--knime-dove-gray);
  --select-control-foreground-color-hover: var(--knime-masala);
  --select-control-foreground-color-focus: var(--knime-white);

  /* Radio buttons */
  --radio-border-color: var(--knime-stone-gray);
  --radio-border-color-hover: var(--knime-stone-gray);
  --radio-border-color-selected: var(--knime-masala);
  --radio-border-color-selected-hover: var(--knime-stone-gray);
  --radio-background-color: transparent;
  --radio-background-color-hover: var(--knime-silver-sand-semi);
  --radio-background-color-selected: var(--knime-masala);
  --radio-background-color-selected-hover: var(--knime-silver-sand-semi);
  --radio-foreground-color-selected: var(--knime-white);
  --radio-foreground-color-selected-hover: var(--knime-masala);

  /* Slider */
  --slider-border-radius: 9.5px;
  --slider-border-color: var(--knime-stone-gray);
  --slider-border-color-hover: var(--knime-stone-gray);
  --slider-border-color-focus: var(--knime-masala);
  --slider-border-color-active: var(--knime-masala);
  --slider-background-color: var(--knime-white);
  --slider-background-color-hover: var(--knime-silver-sand-semi);
  --slider-background-color-focus: var(--knime-white);
  --slider-background-color-active: var(--knime-masala);
  --slider-bar-radius: 3.5px;
  --slider-background-color: var(--knime-yellow);
}
