:root {
  /* Additional colors */
  --theme-color-error: hsl(357.5, 71.6%, 45.5%); /* #C72128 */
  --theme-color-success: hsl(127.5, 50%, 47.1%); /* #3CB44B */
  --theme-color-info: var(--knime-masala); /* #3E3A39 */
  --theme-color-running: hsl(205.7, 69.7%, 38.8%); /* #1E6DA8 */
  --theme-color-action-required: hsl(29.3, 100%, 59.8%); /* #FF9632 */
  --theme-color-kudos: hsl(339.1, 88.4%, 43.9%) /* #D30D52 */;

  --theme-color-error-semi: hsla(357.5, 71.6%, 45.5%, 0.2); /* #C72128 */
  --theme-color-action-required-semi: hsla(29.3, 100%, 59.8%, 0.2); /* #FF9632 */

  /* Header */
  --theme-header-font-family: 'Roboto', sans-serif;
  --theme-header-font-weight: 300;
  --theme-header-foreground-color: var(--knime-white);
  --theme-header-background-color: var(--knime-masala);

  /* Headlines */
  --theme-headlines-font-family: 'Roboto', sans-serif;
  --theme-headlines-color: var(--knime-masala);
  --theme-headlines-font-weight: 700;

  /* Text */
  --theme-text-normal-font-family: 'Roboto', sans-serif;
  --theme-text-normal-color: var(--knime-masala);

  --theme-text-medium-font-family: 'Roboto', sans-serif;
  --theme-text-medium-color: var(--knime-masala);

  --theme-text-bold-font-family: 'Roboto', sans-serif;
  --theme-text-bold-color: var(--knime-masala);

  /* Default Button */
  --theme-button-background-color: var(--knime-yellow);
  --theme-button-background-color-hover: var(--knime-masala);
  --theme-button-background-color-focus: var(--knime-masala);
  --theme-button-foreground-color: var(--knime-masala);
  --theme-button-foreground-color-hover: var(--knime-white);
  --theme-button-foreground-color-focus: var(--knime-white);
  --theme-button-border-radius: 20px;
  --theme-button-border-color: var(--knime-masala);
  --theme-button-border-color-hover: var(--knime-masala);
  --theme-button-border-color-focus: var(--knime-masala);

  /* Small Button */
  --theme-button-small-background-color: transparent;
  --theme-button-small-background-color-hover: transparent;
  --theme-button-small-background-color-focus: transparent;
  --theme-button-small-foreground-color: var(--knime-stone-gray);
  --theme-button-small-foreground-color-hover: var(--knime-masala);
  --theme-button-small-foreground-color-focus: var(--knime-masala);
  --theme-button-small-border-radius: 9999px;
  --theme-button-small-border-color: var(--knime-masala);
  --theme-button-small-border-color-hover: var(--knime-masala);
  --theme-button-small-border-color-focus: var(--knime-masala);

  /* Split Button */
  --theme-button-split-background-color: var(--knime-yellow);
  --theme-button-split-background-color-hover: var(--knime-masala);
  --theme-button-split-background-color-focus: var(--knime-masala);
  --theme-button-split-foreground-color: var(--knime-masala);
  --theme-button-split-foreground-color-hover: var(--knime-white);
  --theme-button-split-foreground-color-focus: var(--knime-white);
  --theme-button-split-border-radius: 9999px;
  --theme-button-split-border-color: var(--knime-yellow);
  --theme-button-split-border-color-hover: var(--knime-masala);
  --theme-button-split-border-color-focus: var(--knime-masala);
  --theme-button-split-divider-color: var(--knime-dove-gray);

  /* Function button */
  --theme-button-function-border-radius: 9999px;
  --theme-button-function-background-color: transparent;
  --theme-button-function-background-color-hover: var(--knime-silver-sand-semi);
  --theme-button-function-background-color-focus: var(--knime-silver-sand-semi);
  --theme-button-function-background-color-active: var(--knime-masala);
  --theme-button-function-foreground-color: var(--knime-dove-gray);
  --theme-button-function-foreground-color-hover: var(--knime-masala);
  --theme-button-function-foreground-color-focus: var(--knime-masala);
  --theme-button-function-foreground-color-active: var(--knime-white);

  /* Number Input */
  --theme-input-number-border-color: var(--knime-stone-gray);
  --theme-input-number-background-color: var(--knime-white);
  --theme-input-number-background-color-focus: var(--knime-masala);
  --theme-input-number-background-color-hover: var(--knime-silver-sand-semi);
  --theme-input-number-background-color-buttons: var(--knime-masala);

  /* Input Field */
  --theme-input-field-background-color: var(--knime-white);

  /* Dropdown (global) */
  --theme-dropdown-background-color: var(--knime-white);
  --theme-dropdown-background-color-focus: var(--knime-silver-sand-semi);
  --theme-dropdown-background-color-hover: var(--knime-silver-sand-semi);
  --theme-dropdown-background-color-selected: var(--knime-masala);
  --theme-dropdown-foreground-color: var(--knime-masala);
  --theme-dropdown-foreground-color-focus: var(--knime-masala);
  --theme-dropdown-foreground-color-hover: var(--knime-masala);
  --theme-dropdown-foreground-color-selected: var(--knime-white);

  /* Text links */
  --theme-text-link-background-color: transparent;
  --theme-text-link-background-color-hover: var(--knime-masala);
  --theme-text-link-background-color-focus: var(--knime-masala);
  --theme-text-link-foreground-color: var(--knime-masala);
  --theme-text-link-foreground-color-hover: var(--knime-white);
  --theme-text-link-foreground-color-focus: var(--knime-white);

  /* Tooltip */
  --theme-tooltip-background-color: var(--knime-masala);
  --theme-tooltip-foreground-color: var(--knime-white);

  /* Checkbox */
  --theme-checkbox-border-color: var(--knime-stone-gray);
  --theme-checkbox-border-color-focus: var(--knime-masala);
  --theme-checkbox-border-color-hover: var(--knime-stone-gray);
  --theme-checkbox-border-color-selected: var(--knime-masala);
  --theme-checkbox-border-color-selected-focus: var(--knime-masala);
  --theme-checkbox-border-color-selected-hover: var(--knime-stone-gray);
  --theme-checkbox-background-color: var(--knime-white);
  --theme-checkbox-background-color-focus: var(--knime-white);
  --theme-checkbox-background-color-hover: var(--knime-silver-sand-semi);
  --theme-checkbox-background-color-selected: var(--knime-masala);
  --theme-checkbox-background-color-selected-focus: var(--knime-white);
  --theme-checkbox-background-color-selected-hover: var(--knime-silver-sand-semi);
  --theme-checkbox-foreground-color-selected: var(--knime-white);
  --theme-checkbox-foreground-color-selected-focus: var(--knime-masala);
  --theme-checkbox-foreground-color-selected-hover: var(--knime-masala);

  /* Selection List */
  --theme-select-control-background-color: transparent;
  --theme-select-control-background-color-hover: var(--knime-silver-sand-semi);
  --theme-select-control-background-color-focus: var(--knime-masala);
  --theme-select-control-foreground-color: var(--knime-dove-gray);
  --theme-select-control-foreground-color-hover: var(--knime-masala);
  --theme-select-control-foreground-color-focus: var(--knime-white);

  /* Radio buttons */
  --theme-radio-border-color: var(--knime-stone-gray);
  --theme-radio-border-color-hover: var(--knime-stone-gray);
  --theme-radio-border-color-selected: var(--knime-masala);
  --theme-radio-border-color-selected-hover: var(--knime-stone-gray);
  --theme-radio-border-color-focus: var(--knime-masala);
  --theme-radio-background-color: var(--knime-white);
  --theme-radio-background-color-hover: var(--knime-silver-sand-semi);
  --theme-radio-background-color-selected: var(--knime-masala);
  --theme-radio-background-color-selected-hover: var(--knime-silver-sand-semi);
  --theme-radio-foreground-color-selected: var(--knime-white);
  --theme-radio-foreground-color-selected-hover: var(--knime-masala);

  /* Slider */
  --theme-slider-border-radius: 9.5px;
  --theme-slider-border-color: var(--knime-stone-gray);
  --theme-slider-border-color-hover: var(--knime-stone-gray);
  --theme-slider-border-color-focus: var(--knime-masala);
  --theme-slider-foreground-color: var(--knime-white);
  --theme-slider-foreground-color-hover: var(--knime-silver-sand);
  --theme-slider-foreground-color-focus: var(--knime-masala);
  --theme-slider-bar-radius: 3.5px;
  --theme-slider-background-color: var(--knime-yellow);

  /* DateInput */
  --theme-date-input-box-shadow-color: var(--knime-masala-semi);
  --theme-date-input-day-content-background: rgba(192, 196, 198, 0.5);
  --theme-date-input-border-color: var(--knime-stone-gray);
  --theme-date-input-border-focus-color: var(--knime-masala);
  --theme-date-input-input-hover-background: var(--knime-silver-sand-semi);
  --theme-date-input-button-active-color: var(--knime-masala);

  --theme-date-input-accent-100: var(--knime-gray-ultra-light);
  --theme-date-input-accent-200: var(--knime-gray-light-semi);
  --theme-date-input-accent-300: var(--knime-silver-sand);
  --theme-date-input-accent-400: var(--knime-stone-gray);
  --theme-date-input-accent-500: var(--knime-gray-dark);
  --theme-date-input-accent-600: var(--knime-masala);
  --theme-date-input-accent-700: var(--knime-masala);
  --theme-date-input-accent-800: var(--knime-black-semi);
  --theme-date-input-accent-900: var(--knime-black);

  --theme-date-input-black: var(--knime-black);
  --theme-date-input-white: var(--knime-white);

  --theme-date-input-gray-100: var(--theme-date-input-accent-100);
  --theme-date-input-gray-200: var(--knime-silver-sand-semi); /* arrow hover background color */
  --theme-date-input-gray-300: var(--theme-date-input-accent-300);
  --theme-date-input-gray-400: var(--theme-date-input-accent-400);
  --theme-date-input-gray-500: var(--knime-masala); /* weekday font color */
  --theme-date-input-gray-600: var(--knime-masala); /* color arrow */
  --theme-date-input-gray-700: var(--theme-date-input-accent-700);
  --theme-date-input-gray-800: var(--knime-masala); /* background of month/year popout and font color title */
  --theme-date-input-gray-900: var(--knime-black-semi); /* hover background of month/year in popout */
}
