@import url(./animation.css);

.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton {
  background: linear-gradient(
    to right,
    var(--knime-gray-ultra-light) 0%,
    var(--knime-porcelain) 25%,
    var(--knime-gray-ultra-light) 50%
  );
  background-size: 200px 20px;
  background-position: -50px 0;
  animation: knightRider 2s linear infinite;
}

.skeleton-silver {
  background: linear-gradient(
    to right,
    var(--knime-porcelain) 0%,
    var(--knime-silver-sand-semi) 25%,
    var(--knime-porcelain) 50%
  );
  background-size: 200px 20px;
  background-position: -50px 0;
  animation: knightRider 2s linear infinite;
}
