/** Import only the font weights and styles from @fontsource/roboto that are required. No italics. */
@import "@fontsource/roboto/300";
@import "@fontsource/roboto/400";
@import "@fontsource/roboto/500";
@import "@fontsource/roboto/700";
@import "@fontsource/roboto-mono/300";

/**
  Some characters (e.g. ∞) are not included in any of the font variants, but only in the -all- font files.
  At the moment only woff (no woff2) files are available for those.
  The unicode-range ensures they are only loaded when needed.
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local("Roboto Light"),
    local("Roboto-Light"),
    url("@fontsource/roboto/files/roboto-all-300-normal.woff") format("woff");
  unicode-range: u+221e;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("@fontsource/roboto/files/roboto-all-400-normal.woff") format("woff");
  unicode-range: u+221e;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("@fontsource/roboto/files/roboto-all-500-normal.woff") format("woff");
  unicode-range: u+221e;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("@fontsource/roboto/files/roboto-all-700-normal.woff") format("woff");
  unicode-range: u+221e;
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.007em;
}

pre,
code,
tt,
samp {
  font-family: "Roboto Mono", monospace;
}
