@define-mixin rich-text-editor-base {
  font-size: var(--rich-text-editor-font-size, 13px);
  color: var(--theme-text-normal-color, var(--knime-masala));

  @mixin-content;
}

@define-mixin rich-text-editor-p {
  & p {
    padding: 0;
    line-height: 1.44;
    margin: 0 0 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @mixin-content;
}

@define-mixin rich-text-editor-blockquote {
  & blockquote {
    margin: 0 0 6px 12px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: -12px;
      height: 100%;
      width: 4px;
      background-color: var(--knime-silver-sand);
      border-radius: 4px;
    }

    & p:last-child {
      padding-bottom: 0;
    }
  }

  @mixin-content;
}

@define-mixin rich-text-editor-headings {
  & h1 {
    font-size: 36px;
    margin: 32px 0 16px;
  }

  & h2 {
    font-size: 30px;
    margin: 24px 0 12px;
  }

  & h3 {
    font-size: 26px;
    margin: 20px 0 10px;
  }

  & h4 {
    font-size: 22px;
    margin: 16px 0 8px;
  }

  & h5 {
    font-size: 16px;
    margin: 12px 0 6px;
  }

  & h6 {
    font-size: 13px;
    margin: 10px 0 5px;
  }

  & h1:first-child,
  & h2:first-child,
  & h3:first-child,
  & h4:first-child,
  & h5:first-child,
  & h6:first-child {
    margin-top: 0;
  }

  @mixin-content;
}

@define-mixin rich-text-editor-hr {
  & hr {
    border: none;
    border-top: 1px solid var(--knime-silver-sand);
    margin: 6px 0;
  }

  @mixin-content;
}

@define-mixin rich-text-editor-code {
  & :not(pre) > code {
    padding: 0 2px;
    font-family: "Roboto Mono", monospace;
    border: 1px solid var(--knime-silver-sand);
    background: var(--knime-gray-light-semi);
    box-decoration-break: clone;
  }

  & pre {
    background: var(--knime-gray-light-semi);
    border: 1px solid var(--knime-silver-sand);
    font-family: "Roboto Mono", monospace;
    padding: 8px 12px;
    line-height: 1.44;

    & > code {
      color: inherit;
      padding: 0;
      background: none;
    }
  }

  @mixin-content;
}

@define-mixin rich-text-editor-lists {
  & ul,
  & ol {
    padding-left: 20px;
    display: table; /* avoid bullet points overlapping floating elements https://stackoverflow.com/a/11293198/1312073 */

    & li,
    & li > p {
      text-align: left !important;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  @mixin-content;
}

@define-mixin rich-text-editor-links {
  & a {
    color: var(--theme-text-link-foreground-color);
    text-decoration-style: underline;

    &[href^="http"]::after {
      content: "";
      mask: url("../img/icons/link-external.svg?url") no-repeat 50% 50%;
      mask-size: cover;
      background: var(
        --theme-text-link-foreground-color
      ); /* defines icon color */
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      margin-left: 0.125em;
      vertical-align: -2px;
    }

    &:hover {
      text-decoration-style: solid;
      background: var(--theme-text-link-background-color-hover);
      color: var(--theme-text-link-foreground-color-hover);

      &[href^="http"]::after {
        background: var(
          --theme-text-link-foreground-color-hover
        ); /* defines icon color */
      }
    }
  }

  @mixin-content;
}

@define-mixin rich-text-editor-table {
  & table {
    border-spacing: 15px 0;
    width: calc(100% + 2 * 15px);
    text-align: left;
    margin: 20px 0;
    position: relative;
    left: -15px;

    & th {
      font-weight: 500;
      font-family: var(--theme-text-medium-font-family);
      color: var(--theme-text-medium-color);
      border-bottom: solid 2px var(--knime-masala);
    }

    & th,
    & td {
      padding: 4px 8px;
    }

    & td {
      border-bottom: solid 1px var(--knime-masala);
    }

    & colgroup {
      font-size: 16px;
      font-weight: 700;
      border-bottom: solid 3px var(--knime-masala);
    }
  }

  @mixin-content;
}

@define-mixin rich-text-editor-styles {
  @mixin rich-text-editor-base;
  @mixin rich-text-editor-headings;
  @mixin rich-text-editor-hr;
  @mixin rich-text-editor-p;
  @mixin rich-text-editor-blockquote;
  @mixin rich-text-editor-code;
  @mixin rich-text-editor-lists;
  @mixin rich-text-editor-links;
  @mixin rich-text-editor-table;

  @mixin-content;
}
