body {
  font-family: 'Roboto', sans-serif; /* Overwrite modern-normalize.css */
}

a {
  color: inherit;
}

svg {
  shape-rendering: geometricPrecision;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"] {
  appearance: none;
  border-radius: 0;
}

/* For accessibility, it makes sense to sometimes only hide text visually */
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}
