/** Import only the font weights and styles from fontsource-roboto that are required. No italics. */
@import "fontsource-roboto/300-normal";
@import "fontsource-roboto/400-normal";
@import "fontsource-roboto/500-normal";
@import "fontsource-roboto/700-normal";
@import "fontsource-roboto-mono/300-normal";

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.007em;
}

pre,
code,
tt {
  font-family: 'Roboto Mono', monospace;
}
