@import "normalize.css";
@import "./variables";
@import "./grid";
@import "./fonts";
@import "./headlines";
@import "./sticky-footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

svg {
  shape-rendering: geometricPrecision;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
