@import "normalize.css";
@import "./variables";
@import "./variables/webportal-theme.css";
@import "./grid";
@import "./fonts";
@import "./headlines";
@import "./sticky-footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

svg {
  shape-rendering: geometricPrecision;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"] {
  appearance: none;
  border-radius: 0;

  &::-ms-clear { /* IE11 / legacy Edge only */
    display: none;
  }
}
