@define-mixin svg-icon-size $size {
  width: calc($size * 1px);
  height: calc($size * 1px);

  /* get 1px stroke width */
  stroke-width: calc(32px / $size);
  @mixin-content;
}

@define-mixin focus-outline $size: 2, $offset: -1 {
  outline: calc($size * 1px) auto var(--theme-color-focus-ring);
  outline-offset: calc($offset * 1px);

  @mixin-content;
}

@define-mixin focus-style $focus-color: var(--theme-default-focus-color) {
  outline: 1px solid $focus-color;
  border-color: $focus-color;

  @mixin-content;
}
