/*
Sticky footer class to set styles globally
When using nuxt the footer sometimes jumps up as "& > *" in a scoped style doesn't work when navigating.
Therefor we must keep the sticky-footer class in an unscoped separate file
*/
.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & main {
    flex-grow: 1;
  }

  & > * {
    flex-shrink: 0;
  }
}
